*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/.vs
/.pytest_cache/v/cache
/.vscode
/.vscode/launch.json
/.vscode/settings.json

*.mcf~
*.xml~
* - Copy.*

/cewe_folder.txt
/cewe2pdf.iss
/cewe2pdf.pyproj.user
/cewe2pdf.spec
/examples.xml
/Output/cewe2pdfsetup.exe
/pageperimage.pdf
/test.pdf
/TestResults
/tests/cewe2pdf-local.ini
/tests/pdf-parser.py
/tests/Resources/photofun/decorations/petescircle.svg
/tests/unittest_fotobook_mcf-Dateien/folderid.xml
/tests/unittest_fotobook_mcf-Dateien/identifier.xml
/tests/testMcfxExtraction/tmp-dir
/requirements-all.txt
/tests/*/*.mcf.pdf
/tests/*/*.mcfx.pdf
/tests/*/*.mcf.*.pdf
/tests/*/*.mcfx.*.pdf
/tests/temp
/junk*.pdf
/tests/testIndex/test_index.mcf.S.idx.png
/tests/testIndexLarge/test_indexLarge.mcf.20250609S.idx.png
