*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/.vs
/cewe2pdf.spec
/cewe_folder.txt
/.pytest_cache/v/cache
/.vscode
/TestResults
/.vscode/launch.json
/.vscode/settings.json
/tests/unittest_fotobook_mcf-Dateien/folderid.xml
/cewe2pdf - Copy.py
/examples.xml
/cewe2pdf.pyproj.user
/tests/unittest_fotobook.mcf.pdf
*.mcf~
*.xml~
/tests/unittest_fotobook_mcf-Dateien/identifier.xml
