*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/.vs
/.pytest_cache/v/cache
/.vscode
/.vscode/launch.json
/.vscode/settings.json

*.mcf~
*.xml~
* - Copy.*

/cewe_folder.txt
/cewe2pdf.iss
/cewe2pdf.pyproj.user
/cewe2pdf.spec
/examples.xml
/Output/cewe2pdfsetup.exe
/pageperimage.pdf
/test.pdf
/TestResults
/tests/cewe2pdf-local.ini
/tests/pdf-parser.py
/tests/Resources/photofun/decorations/petescircle.svg
/tests/test_font_does_not_exist.mcf.pdf
/tests/testClipart/testClipart.mcf.pdf
/tests/testFontDoesNotExist/testFontDoesNotExist.mcf.pdf
/tests/unittest_fotobook.mcf.202*.pdf
/tests/unittest_fotobook.mcf.pdf
/tests/unittest_fotobook.mcfx.pdf
/tests/unittest_fotobook_mcf-Dateien/folderid.xml
/tests/unittest_fotobook_mcf-Dateien/identifier.xml
/tests/testMcfxExtraction/tmp-dir
/requirements-all.txt
/tests/testClipartColorReplacement/test_clipart_colorreplacement.mcfx.pdf
/tests/testClipartColorReplacement/test_clipart_colorreplacement.mcf.pdf
/tests/testbackgrounds/allblackbackgrounds.mcf.pdf
/tests/testEmptyPageOne/test_emptyPageOne.mcf.pdf
/tests/unittest_fotobook/unittest_fotobook.mcf.pdf
/tests/unittest_fotobook/unittest_fotobook.mcfx.pdf
